<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725856762614-5as3e29jmmkfhr9uhj597e753sb2a6ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725856762614-5as3e29jmmkfhr9uhj597e753sb2a6ht</string>
	<key>API_KEY</key>
	<string>AIzaSyCXgPWASvuOhJNy0L4OKZSVtmfoh7SeRYo</string>
	<key>GCM_SENDER_ID</key>
	<string>725856762614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andrei.TennisClub</string>
	<key>PROJECT_ID</key>
	<string>tennisclub-d6426</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisclub-d6426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725856762614:ios:2c6604024cdd21b43d0ad7</string>
</dict>
</plist>